@font-face {
	font-family: 'Anek Devanagari';
	src: url('../fonts/AnekDevanagariCondensed-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anek Devanagari';
	src: url('../fonts/AnekDevanagariCondensed-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Anek Devanagari';
	src: url('../fonts/AnekDevanagariCondensed-Regular.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moderustic';
	src: url('../fonts/Moderustic-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moderustic';
	src: url('../fonts/Moderustic-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moderustic';
	src: url('../fonts/Moderustic-Medium.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
